<h1 class="text-2xl font-bold mb-4">Create a Recipe</h1>

<% if flash[:alert] %>
  <div class="mb-4 text-red-600 font-semibold text-sm">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= render "form", recipe: @recipe %>